doctype html
html
  head
    title Pitch Tracker

    // Stylesheets
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/pitch-tracker.css')

  body(ng-app='ptAdminApp', ng-controller='PTAdminController as ptAdmin')
    .container
      // TITLE
      h1#title Pitch Tracker

      .row#tabs
        .col-xs-12
          ul.nav.nav-tabs.nav-justified
            li(role="presentation", ng-repeat="tab in tabs", ng-class="{ active : currTab === $index }")
              a(href="#", ng-click="setTab($index)") {{ tab }}
      .row(ng-show="isActiveTab('Users')")
        .col-xs-12.col-sm-6
          h3(ng-bind="'Users (' + users.length + ')'")
          table.table
            thead
              tr
                th Edit
                th Delete
                th Name
                th Password
            tbody
              tr(ng-repeat="user in users", ng-class="{ active : isUserActive($index) }")
                td
                  a(href="#", ng-click="editUser($index)") Edit
                td
                  a(href="#", ng-click="deleteUser($index)") Delete
                td(ng-bind="user.name")
                td(ng-bind="user.password")
          button.btn.btn-success(type="button", ng-click="createUser()", ng-disabled="edit.user.active || new.user") New User
        .col-xs-12.col-sm-6
          h3 User Form
          form(ng-submit='submitUserForm()')
            .form-group
              label(for='userFormName') Name
              input.form-control#userFormName(type='text', placeholder='Name', ng-model='edit.user.name', ng-disabled="!new.user && !edit.user.active")
            .form-group
              label(for="userFormPassword") Password
              input.form-control#userFormPassword(type="text", placeholder="Password", ng-model="edit.user.password", ng-disabled="!new.user && !edit.user.active")
            button.btn.btn-primary(type="submit", ng-disabled="!edit.user.name.length || !edit.user.password.length") Submit
            button.btn.btn-danger(type="button", ng-click="closeUserForm()", ng-disabled="!new.user && !edit.user.active") Cancel
          p.error(ng-show="error.user" ng-bind="error.user")

      .row(ng-show="isActiveTab('Teams')")
        .col-xs-6
          h3(ng-bind="'Teams (' + teams.length + ')'")
          table.table
            thead
              tr
                th Edit
                th Delete
                th School
                th Mascot
                th Abbreviation
                th Num Players
            tbody
              tr(ng-repeat="team in teams", ng-class="{ active : isTeamActive($index) }")
                td
                  a(href="#", ng-click="editTeam($index)") Edit
                td
                  a(href="#", ng-click="deleteTeam($index)") Delete
                td(ng-bind="team.school")
                td(ng-bind="team.mascot")
                td(ng-bind="team.abbreviation")
                td(ng-bind="team.players.length")
          button.btn.btn-success(type="button", ng-click="createTeam()", ng-disabled="edit.team.active || new.team") New Team
        .col-xs-6
          h3 Team Form
          form(ng-submit='submitTeamForm()')
            .form-group
              label(for='teamFormSchool') School
              input.form-control#teamFormSchool(type='text', placeholder='School', ng-model='edit.team.school', ng-disabled="!new.team && !edit.team.active")
            .form-group
              label(for="teamFormMascot") Mascot
              input.form-control#teamFormMascot(type="text", placeholder="Mascot", ng-model="edit.team.mascot", ng-disabled="!new.team && !edit.team.active")
            .form-group
              label(for="teamFormAbbreviation") Abbreviation
              input.form-control#teamFormAbbreviation(type="text", placeholder="Abbreviation", ng-model="edit.team.abbreviation", ng-disabled="!new.team && !edit.team.active")
            button.btn.btn-primary(type="submit", ng-disabled="!edit.team.school.length || !edit.team.abbreviation.length || !edit.team.mascot.length") Submit
            button.btn.btn-danger(type="button", ng-click="closeTeamForm()", ng-disabled="!new.team && !edit.team.active") Cancel
          p.error(ng-show="error.team" ng-bind="error.team")

    // Libraries
    script(src='/javascripts/libraries/jquery-1.11.0.js')
    script(src='/javascripts/libraries/bootstrap.min.js')
    script(src='/javascripts/libraries/d3.v3.min.js')
    script(src='/javascripts/libraries/angular.min.js')
    script(src='/javascripts/libraries/ui-bootstrap-tpls-0.14.3.min.js')

    // Pitch Tracker Admin Script
    script(src='/javascripts/pt-admin.js')
