doctype html
html
  head
    title Pitch Tracker

    // Stylesheets
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/pitch-tracker.css')

  body(ng-app='ptAdminApp', ng-controller='PTAdminController as ptAdmin')
    .container
      // TITLE
      h1#title Pitch Tracker

      .row#tabs
        .col-xs-12
          ul.nav.nav-tabs.nav-justified
            li(role="presentation", ng-repeat="tab in tabs", ng-class="{ active : currTab === $index }")
              a(ng-click="setTab($index)", ng-bind="pluralize(capitalize(tab.name))")
      .row
        .message(ng-class="{ 'error': error.general, 'message': true }", ng-show="error.general" ng-bind="error.general")

      .row(ng-repeat="tab in tabs", ng-show="isActiveTab(tab.name)")
        .col-xs-12.col-sm-8
          h3(ng-bind="pluralize(capitalize(tab.name)) + ' (' + data[tab.name].length + ')'")
          table.table
            thead
              tr
                th Edit
                th Delete
                th(ng-repeat="field in tab.fields", ng-click="sortByField(tab, field)")
                  span.glyphicon(ng-class="getSortGlyphicon(tab, field)")
                  span(ng-bind="' ' + capitalize(field.abbr ? field.abbr : field.name)")
                th(ng-repeat="display in tab.displays", ng-bind="capitalize(display.abbr ? display.abbr : display.name)")
            tbody
              tr(ng-repeat="datum in data[tab.name]", ng-class="{active: tab.isActive($index)}")
                td
                  button.btn.btn-xs(type="button", ng-click="tab.openEditForm($index)")
                    span.glyphicon.glyphicon-pencil
                    span  Edit
                td
                  button.btn.btn-xs(type="button", ng-click="tab.delete($index)")
                    span.glyphicon.glyphicon-trash
                    span  Delete
                td(ng-repeat="field in tab.fields" ng-bind="transform(datum[field.name], field.transform)")
                td(ng-repeat="display in tab.displays")
                  button.btn.btn-xs(type="button", ng-click="display.click(datum)")
                    span.glyphicon(class="glyphicon-{{ display.glyph }}")
                    span(ng-bind="' ' + display.text(datum)")
          button.btn.btn-success(type="button", ng-click="tab.openCreateForm()", ng-disabled="tab.isFormOpen()")
            span.glyphicon.glyphicon-plus
            span(ng-bind="' New ' + capitalize(tab.name)")
        .col-xs-12.col-sm-4
          h3(ng-bind="capitalize(tab.name) + ' Form'")
          form(ng-submit="tab.submitForm()")
            .form-group(ng-repeat="field in tab.fields")
              label(for="{{ tab.name }}Form{{ capitalize(field.name) }}", ng-bind="capitalize(field.name)")
              input.form-control(ng-if="!field.type || field.type !== 'select'", id="{{ tab.name }}Form{{ capitalize(field.name) }}", type="{{ field.type ? field.type : 'text' }}", placeholder="{{ capitalize(field.name) }}", ng-model="edit[tab.name][field.name]", ng-disabled="!tab.isFormOpen()")
              select.form-control(ng-if="field.type && field.type === 'select' && !field.multiple", id="{{ tab.name }}Form{{ capitalize(field.name) }}", ng-model="edit[tab.name][field.name]", ng-disabled="!tab.isFormOpen()")
                option(value='', disabled, selected, hidden, ng-bind="'Please Choose a ' + capitalize(field.name)")
                option(ng-repeat="option in field.options()", value="{{ option[field.value] }}", ng-bind="option[field.text]")
              select.form-control(ng-if="field.type && field.type === 'select' && field.multiple", id="{{ tab.name }}Form{{ capitalize(field.name) }}", ng-model="edit[tab.name][field.name]", ng-disabled="!tab.isFormOpen()", multiple)
                option(ng-repeat="option in field.options()", value="{{ option[field.value] }}", ng-bind="option[field.text]")
            button.btn.btn-primary(type="submit", ng-disabled="!tab.isFormOpen() || !tab.isFormComplete()")
              span.glyphicon.glyphicon-ok
              span  Submit
            button.btn.btn-danger(type="button", ng-click="tab.closeForm()", ng-disabled="!tab.isFormOpen()")
              span.glyphicon.glyphicon-remove
              span  Cancel
          .form(ng-repeat="form in tab.forms")
            h3(ng-bind="capitalize(form.title)")
            form(ng-submit="form.submit(tab)")
              .form-group
                input.form-control(ng-repeat="input in form.inputs", id="{{ input.id }}", type="{{ input.type }}")
              button.btn(role="submit", class="{{ form.button.class }}")
                span.glyphicon(class="{{ 'glyphicon-' + form.button.glyph }}")
                span(ng-bind="' ' + form.button.text")
          p.error(ng-show="error[tab.name]" ng-bind="error[tab.name]")

    // Libraries
    script(src='/javascripts/libraries/jquery-1.11.0.js')
    script(src='/javascripts/libraries/bootstrap.min.js')
    script(src='/javascripts/libraries/d3.v3.min.js')
    script(src='/javascripts/libraries/angular.min.js')
    script(src='/javascripts/libraries/ui-bootstrap-tpls-0.14.3.min.js')

    // Pitch Tracker Admin Script
    script(src='/javascripts/pt-admin.js')
