doctype html
html
  head
    title Pitch Tracker

    // Stylesheets
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/pitch-tracker.css')

  body(ng-app='ptApp', ng-controller='ptController as ptAng')
    // Navigation bar
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#pt-navbar-collapse', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') Pitch Tracker

        .collapse.navbar-collapse#pt-navbar-collapse
          ul.nav.navbar-nav
            li(ng-class='{active: view === 0 || view === 1}')
              a(href='#') Login
            li(ng-class='{active: view === 2}')
              a(href='#') Input
            li 
              a(href='#') Analysis
            li
              a(href='#') About

          ul.nav.navbar-nav.navbar-right
            li(ng-show="user.name.length")
              a(role='button') Welcome, {{ user.name }}

    .container
      // TITLE
      h1#title Pitch Tracker

      // LOGIN
      .row(ng-show="sections.login.show()")
        p.message.error(ng-show="error" ng-bind="error")
        .col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.col-sm-10.col-sm-offset-1.col-xs-12
          p(ng-bind="sections.login.text")
          button.btn.btn-lg.btn-block(ng-repeat="button in sections.login.buttons", type="button", class="{{ 'btn-' + button.class }}", ng-bind="button.text", ng-click="sections.login.submit($index)")

      // SESSION
      .row(ng-show="sections.session.show()")
        p.message.error(ng-show="error" ng-bind="error")
        .col-xs-4.col-xs-offset-4
          p(ng-bind="sections.session.text()")
          button.btn.btn-primary.btn-lg.btn-block(ng-repeat="button in sections.session.buttons", type="button", ng-bind="button.text", ng-click="sections.session.submit($index)")

      // LINEUP
      .row(ng-show="sections.lineup.show()")
        p.message.error(ng-show="error" ng-bind="error")
        .col-xs-8.col-xs-offset-2
          table.table
            caption(ng-bind="sections.lineup.getTableCaption()")
            thead
              tr
                th Category
                th(ng-repeat="teamField in sections.lineup.fields.teams()", ng-bind="teamField")
            tbody
              tr
                td Team
                td(ng-repeat="teamField in sections.lineup.fields.teams()")
                  select.form-control(ng-if="!sections.lineup.teamsSubmitted", ng-model="sections.lineup.data[teamField].team")
                    option(ng-repeat="team in sections.lineup.teams", ng-bind="util.getTeamName(team)", value="{{ team._id }}")
                  span(ng-if="sections.lineup.teamsSubmitted", ng-bind="util.getTeamName(sections.lineup.data[teamField].team)")
              tr(ng-show="sections.lineup.teamsSubmitted", ng-repeat="position in sections.lineup.fields.positions")
                td(ng-bind="position")
                td(ng-repeat="teamField in sections.lineup.fields.teams()")
                  select.form-control(ng-model="sections.lineup.data[teamField].lineup[position].player", ng-show="!sections.lineup.lineupsSubmitted")
                    option(ng-repeat="player in sections.lineup.getPlayerOptions(teamField, position)", ng-bind="util.getPlayerName(player)", value="{{ player._id }}")
                  form.form-inline(ng-show="sections.lineup.lineupsSubmitted")
                    .form-group
                      select.form-control.hole-select(ng-if="position !== 'P'", id="{{ teamField + position }}" ng-model="sections.lineup.data[teamField].lineup[position].number")
                        option(ng-repeat="hole in sections.lineup.getLineupHoles()", ng-bind="hole", value="{{ hole }}")
                      label(for="{{ teamField + position }}", ng-bind="sections.lineup.data[teamField].lineup[position].player.name")
          button.btn.btn-primary.btn-block(type="button", ng-show="!sections.lineup.teamsSubmitted", ng-click="sections.lineup.submit.teams()") Submit Teams
          button.btn.btn-primary.btn-block(type="button", ng-show="sections.lineup.teamsSubmitted", ng-click="sections.lineup.submit.lineups()") Submit Lineups


      #input(ng-show="sections.input.show()")
        // INFO BAR
        .row#infoBar
          // BOX SCORE
          .col-md-4.col-xs-10
            table.table.boxscore#boxscore
              thead
                tr
                  td Team
                  td(ng-repeat="n in getInningNums()", ng-bind="n")
                  td R
                  td H
                  td E
              tbody
                tr#boxScoreAway
                  td Away
                  td(ng-repeat="n in getInningNums()", ng-class="{ active : isInningActive(n,true) }", ng-bind="generateInningText(n, true)")
                  td(ng-bind="gameTotals(true, 'runs')")
                  td(ng-bind="gameTotals(true, 'hits')")
                  td(ng-bind="gameTotals(true, 'errors')")
                tr#boxScoreHome
                  td Home
                  td(ng-repeat="n in getInningNums()", ng-class="{ active : isInningActive(n,false) }", ng-bind="generateInningText(n, false)")
                  td(ng-bind="gameTotals(false, 'runs')")
                  td(ng-bind="gameTotals(false, 'hits')")
                  td(ng-bind="gameTotals(false, 'errors')")

          // BASES
          .col-md-1.col-xs-2
            #basesParent

          // BASES TABLE
          .col-md-2.col-xs-4#state
            table.table
              thead
                tr
                  td First
                  td Second
                  td Third
              tbody
                tr
                  td(ng-bind="bases[0]")
                  td(ng-bind="bases[1]")
                  td(ng-bind="bases[2]")

          // CURRENT PLAYERS
          .col-md-3.col-xs-4#Players
            table.table
              tbody
                tr
                  td Pitcher:
                  td.player#pitcher(ng-bind="curr.pa.pitcher")
                tr
                  td Hitter:
                  td.player#hitter(ng-bind="curr.pa.hitter")

          // CURRENT STATE
          .col-md-2.col-xs-4
            #stateParent

        // /INFO BAR

        // ERROR
        .row
          .message(ng-class="{ 'error': error, 'message': true }", ng-bind="(error ? 'Error: ' : '') + generateMessage()")

        // CONTENT
        .row

          // ZONE
          .col-md-4.col-xs-12
            #zoneParent

          // /ZONE

          // BUTTONS
          .col-md-3.col-xs.4

            // INPUTS
            form(ng-show="ptInputView === 0", ng-submit="playerListener()")
              label(for='pitcherNameInput') Pitcher Name
              input#pitcherNameInput.form-control(type='text', placeholder='Pitcher name', ng-model='curr.pitcher')
              br
              label(for='hitterNameInput') Hitter Name
              input#hitterNameInput.form-control(text='type', placeholder='Hitter name', ng-model='curr.hitter')
              br
              input.btn.btn-default(type='submit', value='Submit Players', ng-disabled="!isPlayerDataComplete()")

            form(ng-show="ptInputView === 1" ng-submit="pitchListener()")
              label(for='pitchTypeInput') Pitch Type Selector
              select#pitchTypeInput.form-control(ng-model='curr.pitch.type')
                option(value='0') --- Select Pitch ---
                option(value='1') Fastball (4-seam)
                option(value='2') Fastball (2-seam)
                option(value='3') Sinker
                option(value='4') Changeup
                option(value='5') Curveball
                option(value='6') Slider
              br
              label(for='pitchVelocityInput') Pitch Velocity
              input#pitchVelocityInput.form-control(type='number', min='0', placeholder='Velocity', ng-model='curr.pitch.velocity')
              br
              label(for='pitchResultInput') Pitch Result Selector
              select#pitchResultInput.form-control(ng-model='curr.pitch.result')
                option(value='0') --- Select Result ---
                option(value='1') Ball
                option(value='2') Swinging Strike
                option(value='3') Called Strike
                option(value='4') Foul
                option(value='5') Foul Tip
                option(value='6') In Play
              br
              input.btn.btn-default(type='submit' value='Submit Pitch', ng-disabled="!isPitchDataComplete()")

            form(ng-show="ptInputView === 2", ng-submit="resultListener()")
              label(for='paResultInput') Plate Appearance Result Selector
              select#paResultInput.form-control(ng-model='curr.pa.result')
                option(value='0') --- Select Result ---
                option(value='1') Single
                option(value='2') Double
                option(value='3') Triple
                option(value='4') Home Run
                option(value='5') In-Play Out(s)
                option(value='6') Error
              br
              input.btn.btn-default(type='submit', value='Submit Result', ng-disabled="!isResultDataComplete()")

            // /INPUTS

          // /BUTTONS

          // RECENT DATA
          .col-md-5.col-xs-8.pitchdata

            table
              tr
                td
                  table.table.table-bordered
                    thead
                      tr
                        th Num
                        th Velocity
                        th Pitch Type
                        th Pitch Result
                    tbody
                      tr(ng-repeat="pitch in curr.pa.pitches")
                        td(ng-bind="$index + 1")
                        td(ng-bind="pitch.velocity")
                        td(ng-bind="pitchTypeToString(pitch.type)")
                        td(ng-bind="pitchResultToString(pitch.result)")
              tr
                td
                  table.table.table-bordered
                    thead
                      tr
                        th Pitcher
                        th Hitter
                        th Result
                        th Count
                    tbody
                      tr(ng-show="curr.inning.pas.length" ng-repeat="pa in curr.inning.pas")
                        td(ng-bind="pa.pitcher")
                        td(ng-bind="pa.hitter")
                        td(ng-bind="paResultToString(pa.result)")
                        td(ng-bind="pa.balls + '-' + pa.strikes")

          // /RECENT DATA

        // /CONTENT

        // MODAL
        #modal.modal.fade
          .modal-dialog
            .modal-content
              .modal-header
                h3#modal-title
              .modal-body
                p#modal-body
              .modal-footer
                button(type="button", class="btn btn-success", value="4") Home Base
                button(type="button", class="btn btn-primary", value="3") Third Base
                button(type="button", class="btn btn-primary", value="2") Second Base
                button(type="button", class="btn btn-primary", value="1") First Base
                button(type="button", class="btn btn-danger",  value="0") Basepath Out


    // Libraries
    script(src='/javascripts/libraries/jquery-1.11.0.js')
    script(src='/javascripts/libraries/bootstrap.min.js')
    script(src='/javascripts/libraries/d3.v3.min.js')
    script(src='/javascripts/libraries/angular.min.js')
    script(src='/javascripts/libraries/ui-bootstrap-tpls-0.14.3.min.js')

    // Pitch Tracker Scripts
    script(src='/javascripts/constants.js')
    script(src='/javascripts/pt-graphics.js')
    script(src='/javascripts/pt-ang.js')
