doctype html
html(ng-app='ptApp' )
  head
    title= title

    // Stylesheets
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/pitch-tracker.css')

  body
    block content

    // Libraries
    script(src='/javascripts/libraries/jquery-1.11.0.js')
    script(src='/javascripts/libraries/bootstrap.min.js')
    script(src='/javascripts/libraries/d3.v3.min.js')
    script(src='/javascripts/libraries/angular.min.js')

    // Pitch Tracker Scripts
    script(src='/javascripts/constants.js')
    script(src='/javascripts/pt-graphics.js')
    script(src='/javascripts/pt-ang.js')
