extends layout

block content
  h1= title
  p Welcome to #{title}

  // WRAPPER
  #wrapper

    // SCHOOL LIST
    h2 School List
    #schoolList
      table
        thead
          th School
          th Delete
        tbody
    // /SCHOOL LIST

  // /WRAPPER