div.message {
    margin: auto;
    text-align: center;
    font-size: x-large;
}

th {
    background-color: #eeeeee;
}

#title {
	text-align: center;
	padding-bottom: 15px;
	text-decoration: underline;
}

/* ----- Pitch Tracker Input Wrappers ----- */

/* Active */
.ptInputActive {
	display: block;
}

/* Disabled and hidden */
.ptInputDisabled {
	display: none;
}