div.message {
    margin: auto;
    text-align: center;
    font-size: x-large;
}

th {
    background-color: #eeeeee;
}

#title {
	text-align: center;
	padding-bottom: 15px;
}

/* Pitch Tracker Input Wrappers */

/* Active */
.ptInputActive {
	visibility: visible;
}

/* Disabled and hidden */
.ptInputDisabled {
	visibility: hidden;
}