body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    padding-bottom: 20px;
    overflow-y: scroll;
}

.message {
    margin: auto;
    text-align: center;
    font-size: 24px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	padding-bottom: 5px;
	margin-bottom: 10px;
	border-top-color: #000000;
	border-top-style: solid;
	border-top-width: 2px;
	padding-top: 5px;
	margin-top: 10px;
}

.error {
	color: red;
}

th {
    background-color: #eeeeee;
}

#title {
	text-align: center;
	padding-bottom: 15px;
	text-decoration: underline;
}

/* ----- Pitch Tracker Info Bar ----- */

#infoBar>div>table {
	margin-bottom: 0px;
}

.boxscore {
	margin-bottom: 0px;
}

.boxscore>tbody>tr>td, .boxscore>thead>tr>td {
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
}

.boxscore>tbody>tr>td.active {
	background-color: rgba(256, 0, 0, 0.25);
	font-weight: bold;
}

.player {
	font-weight: bold;
}

/* ----- Bases ----- */
path.occupied {
	fill : #ff0000;
}

/* ----- States ----- */
text.state-label {
	font-size: 20px;
}

circle.strikes {
	fill : red;
}

circle.balls {
	fill : green;
}

circle.outs {
	fill : blue;
}

/* Admin tabs */
.nav-tabs>li>a {
	cursor: pointer;
}